<div ng-controller="mainCtrl">
  <div class="ui attached large stackable menu">
    <div class="ui container">
      <div class="left item">
        <i class="cloud icon"></i> SecuDisk
      </div>
      <div class="item">
        <div class="ui big icon input">
          <input type="text" placeholder="搜索..." ng-model="queryText" ng-change="search()">
          <i class="search icon"></i>
        </div>
      </div>
      <a class="item" href="/main">
        <i class="home icon"></i> 回首页
      </a>
      <a class="item" ng-click="createFolder()">
        <i class="add square icon"></i> 新建文件夹
      </a>
      <a class="item" ng-click="uploadFile()">
        <i class="cloud upload icon"></i> 上传文件
      </a>
      <div class="ui simple dropdown item">
        更多
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" ng-click="showUploadTasks()"><i class="tasks icon"></i>上传任务</a>
          <a class="item" ng-click="logout()"><i class="sign out icon"></i>退出</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui container">
    <br>
    <div class="ui red segment" ng-show="undefined === queryText || '' === queryText">
      <div class="ui steps" ng-model="navFolders">
        <div class="link step" ng-click="navFolder(nav.id,$index)" ng-repeat="nav in navFolders track by $index">
          <i class="folder icon"></i>
          <div class="content">
            <div class="title">{{nav.name}}</div>
            <div class="description" ng-show="$index === navFolders.length-1">当前所在文件夹</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui info message" ng-show="undefined !== queryText && '' !== queryText">
      <div class="header">搜索模式</div>
    </div>
    <div class="ui stacked segment">
      <div class="ui teal segment">文件夹</div>
      <div class="ui grid" ng-model="folders">
        <div class="four wide column" ng-repeat="folder in folders track by $index">
          <a class="ui link card" ng-click="changeFolder(folder.id, folder.file_name)">
            <div class="content">
              <div class="header">{{folder.file_name}}</div>
              <div class="meta" ng-show="folder.is_encrypted">
                <span class="category"><i class="lock icon"></i></span>
              </div>
              <div class="description">
                <p>创建于 {{folder.created_at}}</p>
                <p>更新于 {{folder.updated_at}}</p>
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic green button" ng-click="editFolder(folder.id);$event.stopPropagation();">修改</div>
                <div class="ui basic red button" ng-click="deleteFolder(folder.id);$event.stopPropagation();">删除</div>
              </div>
            </div>
          </a>
        </div>
      </div><br>
      <div class="ui warning icon message" ng-show="folders.length === 0 && (queryText === '' || queryText === undefined)">
        <i class="info icon"></i>
        <div class="content">
          <div class="header">
            当前文件夹没有文件夹，需要新建吗？
          </div>
        </div>
        <div class="extra content">
          <button class="ui positive basic button" ng-click="createFolder()">新建文件夹</button>
        </div>
      </div>
      <div class="ui info icon message" ng-show="undefined != queryText && '' !== queryText && folders.length === 0">
        <i class="info icon"></i>
        <div class="content">
          <div class="header">
            没有搜索到文件夹
          </div>
        </div>
      </div>
    </div>
    <div class="ui stacked segment">
      <div class="ui blue segment">文件</div>
      <div class="ui grid" ng-model="files">
        <div class="four wide column" ng-repeat="file in files track by $index">
          <div class="ui link card" ng-click="editFile(file.id)">
            <div class="content">
              <div class="header">{{file.file_name}}</div>
              <div class="meta" ng-show="file.is_encrypted">
                <span class="category"><i class="lock icon"></i></span>
              </div>
              <div class="description">
                <p>创建于 {{file.created_at}}</p>
                <p>更新于 {{file.updated_at}}</p>
                <p>大小为 {{file.file_size}} b</p>
                <p>共下载 {{file.download_times}}次</p>
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic green button" ng-click="editFile(file.id);$event.stopPropagation();">修改</div>
                <div class="ui basic red button" ng-click="deleteFile(file.id);$event.stopPropagation();">删除</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="ui warning icon message" ng-show="files.length === 0 && (queryText === '' || queryText === undefined)">
        <i class="info icon"></i>
        <div class="content">
          <div class="header">
            当前文件夹没有文件，现在上传？
          </div>
        </div>
        <div class="extra content">
          <button class="ui positive basic button" ng-click="uploadFile()">上传文件</button>
        </div>
      </div>
      <div class="ui info icon message" ng-show="undefined != queryText && '' !== queryText && files.length === 0">
        <i class="info icon"></i>
        <div class="content">
          <div class="header">
            没有搜索到文件
          </div>
        </div>
      </div>
    </div>
    <div id="createFolderModel" class="ui modal">
      <div class="header">新建文件夹</div>
      <div class="content">
        <div class="ui fluid icon input">
          <i class="edit icon"></i>
          <input type="text" placeholder="请输入文件夹名称..." ng-model="newFolderName">
        </div>
      </div>
      <div class="actions">
        <div class="ui buttons">
          <button class="ui cancel button">取消</button>
          <div class="or"></div>
          <button class="ui positive button" ng-disabled="undefined === newFolderName || '' === newFolderName">确认</button>
        </div>
      </div>
    </div>
    <div id="confirmDeleteAction" class="ui modal">
      <div class="header">删除文件夹</div>
      <div class="content">
        <div class="ui error message">
          <i class="warning sign icon"></i>确认删除吗？此动作会删除此文件夹下的所有文件
        </div>
      </div>
      <div class="actions">
        <div class="ui buttons">
          <button class="ui cancel button">取消</button>
          <div class="or"></div>
          <button class="ui positive button">确认</button>
        </div>
      </div>
    </div>
    <div id="confirmDeleteFileAction" class="ui modal">
      <div class="header">删除文件</div>
      <div class="content">
        <div class="ui error message">
          <i class="warning sign icon"></i>确认删除吗？
        </div>
      </div>
      <div class="actions">
        <div class="ui buttons">
          <button class="ui cancel button">取消</button>
          <div class="or"></div>
          <button class="ui positive button">确认</button>
        </div>
      </div>
    </div>
    <div id="showDetailedInfo" class="ui modal" ng-model="operation">
      <div class="header">{{operation.name}}</div>
      <div class="content">
        <div class="ui fluid icon input">
          <i class="edit icon"></i>
          <input type="text" placeholder="{{operation.placeholder}}" ng-model="operation.text">
        </div>
      </div>
      <div class="actions">
        <div class="ui buttons">
          <button class="ui cancel button">取消</button>
          <div class="or"></div>
          <button class="ui positive button" ng-disabled="undefined === operation.text || '' === operation.text">确认</button>
        </div>
      </div>
    </div>
    <div id="chooseFolderSetting" class="ui small modal" ng-model="folder">
      <div class="header">
        <i class="setting icon"></i>
        操作</div>
      <div class="content">
        <div class="ui four column inverted grid container">
          <div class="column">
            <button class="ui fluid basic button" ng-click="renameFolder(folder.id)">
              <i class="edit icon"></i>
              重命名</button>
          </div>
          <div class="column" ng-show="folder.is_encrypted">
            <button class="ui fluid basic button" ng-click="decrypt(folder.id, true)">
              <i class="lock icon"></i>
              解密</button>
          </div>
          <div class="column" ng-show="!folder.is_encrypted">
            <button class="ui fluid basic button" ng-click="encrypt(folder.id, true)">
              <i class="lock icon"></i>
              加密</button>
          </div>
          <div class="column">
            <button class="ui fluid basic button">
              <i class="download icon"></i>
              打包下载</button>
          </div>
          <div class="column">
          <button class="ui fluid basic button" ng-click="share(folder.id)">
            <i class="share icon"></i>
            分享</button>
        </div>
        </div>
      </div>
    </div>
    <div id="chooseFileSetting" class="ui modal" ng-model="file">
      <div class="header">
        <i class="setting icon"></i>
        操作</div>
      <div class="content">
        <div class="ui five column inverted grid container">
          <div class="column">
            <button class="ui fluid basic button" ng-click="renameFile(file.id)">
              <i class="edit icon"></i>
              重命名</button>
          </div>
          <div class="column" ng-show="file.is_encrypted">
            <button class="ui fluid basic button" ng-click="decrypt(file.id,false)">
              <i class="lock icon"></i>
              解密</button>
          </div>
          <div class="column" ng-show="!file.is_encrypted">
            <button class="ui fluid basic button" ng-click="encrypt(file.id,false)">
              <i class="lock icon"></i>
              加密</button>
          </div>
          <div class="column">
            <button class="ui fluid basic button" ng-click="download(file.id)">
              <i class="download icon"></i>
              下载</button>
          </div>
          <div class="column">
            <button class="ui fluid basic button" ng-click="share(file.id)">
              <i class="share icon"></i>
              分享</button>
          </div>
          <div class="column">
            <button class="ui fluid basic button" ng-click="move(file.id)">
              <i class="move icon"></i>
              移动</button>
          </div>
        </div>
      </div>
    </div>
    <div id="uploadFile" class="ui modal">
      <div class="header">选择文件</div>
      <div class="content">
        <div class="ui fluid input">
          <button class="ui button" ngf-select ng-model="uncheckedFile" accept="image/*">
            选择</button>
          <input type="text" disabled="disabled" ng-model="uncheckedFile.name">
        </div>
      </div>
      <div class="actions">
        <div class="ui buttons">
          <button class="ui cancel button">取消</button>
          <div class="or"></div>
          <button class="ui positive button" ng-disabled="undefined === uncheckedFile.name || '' === uncheckedFile.name">确认</button>
        </div>
      </div>
    </div>
    <div id="feedback" class="ui small modal">
      <div class="header">通知</div>
      <div class="content">
        <a href="{{feedBackMessage1}}">{{feedBackMessage}}</a>
      </div>
    </div>
    <div id="chooseFolder" class="ui large modal">
      <div class="header">选择文件夹</div>
      <div class="content">
        <div ng-model="allFolder">
          <div class="ui secondary button" ng-click="backToChooseFolder()">返回</div>
          <div class="ui divided list" ng-repeat="folder in allFolder track by $index" ng-show="undefined != allFolder && 0 !== allFolder.length">
            <div class="item" ng-click="chooseFolder(folder.id)">
              <i class="folder icon"></i>
              <div class="content">
                <div class="header">{{folder.file_name}}</div>
                创建于 {{folder.created_at}}
              </div>
            </div>
          </div>
          <div class="ui message" ng-show="undefined === allFolder || 0 === allFolder.length">当前文件夹下无文件夹</div>
        </div>
      </div>
      <div class="actions">
        <div class="ui buttons">
          <button class="ui cancel button">取消</button>
          <div class="or"></div>
          <button class="ui positive button">确认</button>
        </div>
      </div>
    </div>
    <div id="uploadTasks" class="ui modal">
      <div class="header">
        <i class="upload icon"></i>上传详情</div>
      <div class="content" ng-model="allUploadTasks">
        <div class="ui progress">
          <div class="bar">
            <div class="progress"></div>
          </div>
          <div class="label">当前正在上传{{uncheckedFile.name}}</div>
        </div>
        <h4 class="ui horizontal divider header">
          <i class="wait icon"></i>
          等待上传
        </h4>
        <table class="ui celled striped table" ng-show="undefined != allUploadTasks.pendingTasks && 0 !== allUploadTasks.pendingTasks.length">
          <tbody>
            <tr ng-repeat="pendingTask in allUploadTasks.pendingTasks track by $index">
              <td class="warning">{{pendingTask.name}}</td>
            </tr>
          </tbody>
        </table>
        <div class="ui message" ng-show="undefined == allUploadTasks.pendingTasks || 0 === allUploadTasks.pendingTasks.length">
          还未有等待上传的文件
        </div>
        <h4 class="ui horizontal divider header">
          <i class="history icon"></i>
          历史上传
        </h4>
        <table class="ui celled striped table" ng-show="undefined != allUploadTasks.uploadedTasks && 0 !== allUploadTasks.uploadedTasks.length">
          <tbody>
            <tr ng-repeat="task in allUploadTasks.uploadedTasks track by $index">
              <td>{{task.filename}}</td>
              <td>上传时间 {{task.time}}</td>
              <td class="positive" ng-show="task.status"><i class="icon checkmark"></i></td>
              <td class="negative" ng-hide="task.status"><i class="icon close" ></i>{{task.info}}</td>
            </tr>
          </tbody>
        </table>
        <div class="ui message" ng-show="undefined == allUploadTasks.uploadedTasks || 0 === allUploadTasks.uploadedTasks.length">
          还未有上传的文件
        </div>
      </div>
    </div>
  </div>
</div>



