<header>
  <div class="ui attached large stackable menu">
  <div class="ui container">
    <div class="left item">
      <i class="cloud icon"></i> SecuDisk
    </div>
    <div class="item">
      <div class="ui big icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
    </div>
    <a class="item">
      <i class="home icon"></i> Home
    </a>
    <a class="item">
      <i class="grid layout icon"></i> Create Folder
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <div class="ui simple dropdown item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Choose Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
      </div>
    </div>
  </div>
</div>
</header>
<main>
  <div class="ui container">
    <br>
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui card">
          <div class="content">
            <a class="header">Kristy<i class="lock icon"></i></a>
            <div class="meta">
              <span class="date">Created at</span>
            </div>
            <div class="description">
              <div class="right aligned">

              </div>
            </div>
          </div>
          <div class="ui bottom attached button">
            <i class="ellipsis vertical icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

