<div ng-controller="mainCtrl">
  <div class="ui attached large stackable menu">
    <div class="ui container">
      <div class="left item">
        <i class="cloud icon"></i> SecuDisk
      </div>
      <div class="item">
        <div class="ui big icon input">
          <input type="text" placeholder="搜索...">
          <i class="search icon"></i>
        </div>
      </div>
      <a class="item" href="/main">
        <i class="home icon"></i> 回首页
      </a>
      <a class="item" ng-click="createFolder()">
        <i class="add square icon"></i> 新建文件夹
      </a>
      <a class="item" ng-click="uploadFile()">
        <i class="cloud upload icon"></i> 上传文件
      </a>
      <div class="ui simple dropdown item">
        更多
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" ng-click="logout()"><i class="sign out icon"></i>退出</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui container">
    <br>
    <div class="ui red segment">
      <div class="ui steps" ng-model="navFolders">
        <div class="link step" ng-click="navFolder(nav.id,$index)" ng-repeat="nav in navFolders track by $index">
          <i class="folder icon"></i>
          <div class="content">
            <div class="title">{{nav.name}}</div>
            <div class="description" ng-show="$index === navFolders.length-1">当前所在文件夹</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui stacked segment">
      <div class="ui teal segment">文件夹</div>
      <div class="ui grid" ng-model="folders">
        <div class="four wide column" ng-repeat="folder in folders track by $index">
          <a class="ui link card" ng-click="changeFolder(folder.id, folder.file_name)">
            <div class="content">
              <div class="header">{{folder.file_name}}</div>
              <div class="meta">
                <span class="category"><i class="lock icon"></i></span>
              </div>
              <div class="description">
                <p>创建于 {{folder.created_at}}</p>
                <p>更新于 {{folder.updated_at}}</p>
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic green button" ng-click="$event.stopPropagation();">修改</div>
                <div class="ui basic red button" ng-click="deleteFolder(folder.id);$event.stopPropagation();">删除</div>
              </div>
            </div>
          </a>
        </div>
      </div><br>
      <div class="ui warning icon message" ng-show="folders.length === 0">
        <i class="info icon"></i>
        <div class="content">
          <div class="header">
            当前文件夹没有文件夹，需要新建吗？
          </div>
        </div>
        <div class="extra content">
          <button class="ui positive basic button" ng-click="createFolder()">新建文件夹</button>
        </div>
      </div>
    </div>
    <div class="ui stacked segment">
      <div class="ui blue segment">文件</div>
      <div class="ui grid" ng-model="files">
        <div class="four wide column" ng-repeat="file in files track by $index">
          <div class="ui link card">
            <div class="content">
              <div class="header">{{file.file_name}}</div>
              <div class="meta">
                <span class="category"><i class="lock icon"></i></span>
              </div>
              <div class="description">
                <p>创建于 {{file.created_at}}</p>
                <p>更新于 {{file.updated_at}}</p>
                <p>大小为 {{file.file_size}} b</p>
                <p>共下载 {{file.download_times}}次</p>
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic green button">修改</div>
                <div class="ui basic red button">删除</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="ui warning icon message" ng-show="files.length === 0">
        <i class="info icon"></i>
        <div class="content">
          <div class="header">
            当前文件夹没有文件，现在上传？
          </div>
        </div>
        <div class="extra content">
          <button class="ui positive basic button" ng-click="uploadFile()">上传文件</button>
        </div>
      </div>
    </div>
    <div id="createFolderModel" class="ui modal">
      <div class="header">新建文件夹</div>
      <div class="content">
        <div class="ui fluid icon input">
          <i class="edit icon"></i>
          <input type="text" placeholder="请输入文件夹名称..." ng-model="newFolderName">
        </div>
      </div>
      <div class="actions">
        <div class="ui buttons">
          <button class="ui cancel button">取消</button>
          <div class="or"></div>
          <button class="ui positive button" ng-disabled="undefined === newFolderName || '' === newFolderName">确认</button>
        </div>
      </div>
    </div>
    <div id="confirmDeleteAction" class="ui modal">
      <div class="header">删除文件夹</div>
      <div class="content">
        <div class="ui error message">
          <i class="warning sign icon"></i>确认删除吗？此动作会删除此文件夹下的所有文件
        </div>
      </div>
      <div class="actions">
        <div class="ui buttons">
          <button class="ui cancel button">取消</button>
          <div class="or"></div>
          <button class="ui positive button">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>


