// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header{
  //word-break: break-all;
  //overflow: scroll;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}